body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #5dcd5d;
    margin: auto;
}
h1 {
    background-color: bisque;
    text-align: center;
    margin: 10px auto;
}

h3 {
    color:#5dcd5d ;
}
.navbar{
    background-color: black;
    margin: auto;
}

.nav-links{
    display: inline flex;
    font-size: large;
    list-style-type: none;
    text-decoration: none;
    margin: 10px;
    
}

a {
    color: bisque;
    text-decoration: none;
    margin: 20px;
}

.wrapper {

}
.recipe-image {
    width: 100%;
    margin-top: 20px;

    
}
.recipe {
    border: 1px solid black;
    margin: 27px;
    display: inline-block;
    padding: 17px;
    width: 200px;
    background-color: black;
}

.intro-text {  
    background-color: cornsilk;
    padding: 8px;
    margin: auto;
}
.link-text {
    margin: 20px;
    display: inline-block;
}
.btn {
    background-color: inherit;
    border: 2px solid white;
    
}

